#contenedor{
	width: auto;
	height: auto;
	margin: 35 0 0 200px;
}
#cabecera{
	width: 556px;
	height: 60px;
	background-color: #4682B4;
	color: white;
	border-radius: 10px;
	border-style: groove; 
	border-width: 1px;
}
#cuerpo{
	width: 556px;
	height: 160px;
	background-color: #DCDCDC;
	border-radius: 10px;
	border-style: groove; 
	border-width: 1px;
	margin: 4 0 0 0px;
}
.titulo{
	font-size: 20pt;
	font-family: helvetica;
	color: white;
	text-align: center;
	font-weight: bold;
	padding-top: 18px;
}
.campo{
	float: left;
	margin: 15 0 0 5px;
}
.imagenes{
	width:130px;
	height:132px;
	border-style: groove; 
	border-width: 2px;
	margin: 0 0 0 0px;
	background-color: #4682B4;
	border-radius: 5px;
}
.imagenes:hover{ background:#CC0000;
}
.letras_izquierdo{
	float:left;
	font-size: 10pt;
	font-family: helvetica;
	color: white;
	text-align: center;
	font-weight: bold;
	margin: -25 0 0 14px;
}
.letras_centro1{
	float:left;
	font-size: 10pt;
	font-family: helvetica;
	color: white;
	text-align: center;
	font-weight: bold;
	margin: -25 0 0 152px;
}
.letras_centro2{
	float:left;
	font-size: 10pt;
	font-family: helvetica;
	color: white;
	text-align: center;
	font-weight: bold;
	margin: -25 0 0 288px;
}
.letras_derecho{
	float:left;
	font-size: 10pt;
	font-family: helvetica;
	color: white;
	text-align: center;
	font-weight: bold;
	margin: -25 0 0 424px;
}